body{
  background-color:#ffffff;
}
body.node{
  background-color:#f1f2f1;  
}
.content{
  max-width:700px;
  margin:auto;
  background:white;
  padding:10px;
}
.content_home{
  max-width:1200px;
  margin:auto;
  background:#f6f6ef;
  padding:10px;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size:20px;
    
}
input[type=url] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  font-size:20px;
}
input:focus ,textarea:focus{
    background-color: #9a9cb6;
    color:white;
}
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #ffffff;
    resize: none;
  font-size:20px;
}
input[type=submit]{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size:20px;
}

.h1_node{
  color:green;
}
.code{
  color:white;
  background-color:#2d2d2d;
  padding:15px;
 
  
}
table.node_table{
  width:100%;
  border-collapse: collapse;
}
.th_node{
  background-color:#585858;
  color:white;
  text-align: left;
  padding: 8px;
  
}
.td_node{
  text-align: left;
    padding: 8px;
}
tr:nth-child(even){
  background-color: #f2f2f2
}
h4{
  border-top:solid;
  border-color:rgba(0,0,0,0.1);
  padding-top:10px;
  
}
date{
  font-style:italic;
  font-size:12px;
}
li.blog{
  list-style-image: url('http://anmarmashat.sa/arrow.png');

    
}
footer{
  border-top:solid;
  border-color:rgba(0,0,0,0.1);
}
a.footer{
  text-decoration:none;
  color:black;
  font-weight:bold;
}
.blog_post{
  border-bottom:solid 1px;
  margin:20px;
}
li.blog_info{
  list-style-type:none;
  font-style:italic;
}
a.blog_name{
  text-decoration:none;
  color:black;
  font-size:20px;
  font-weight:bold;
}
ul#menu{
  background-color:#ff6600;
  list-style-type:none;
  margin:0;
  padding:0; 
  overflow:hidden;
}
li.nav{
  float:left;
}
li a{
  display:block;
  color:#ffffff;
  text-align:center;
  padding: 30px 16px;
  text-decoration:none;
  font-size:18px;
  font-weight:bold;
  font-family:"Courier";
  
  
}
li a:hover{
  background-color:#fff;
  color:black;
}
.actice{
  background-color:#4CAF50;
  color:white;
}
img#logo{
  width:16px;
  height:16px;
}
a.header{
  background-color:#808080;
  padding:4%;
}
a.nav_logo{
  background:#808080;
  
}